header {
  text-align: center;
}

.game-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  font-size: 30px;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 10px;
  
}

a:hover {
  border-bottom : solid 1px black;
}